// Variables
$white: #fff;
$black16: rgb(16, 16, 16);
$teal900: #004d40;
$teal650: #00695f;
$teal500: #009688;
$teal300: #4db6ac;
$teal100: #b2dfdb;

$grey900: #212121;

// Mixins
@mixin home-section-1-bg {
  background: rgb(0,150,136);
  background: -moz-linear-gradient(212deg, rgba(0,150,136,1) 0%, rgba(0,150,136,1) 35%, rgba(178,223,219,1) 100%);
  background: -webkit-linear-gradient(212deg, rgba(0,150,136,1) 0%, rgba(0,150,136,1) 35%, rgba(178,223,219,1) 100%);
  background: linear-gradient(212deg, rgba(0,150,136,1) 0%, rgba(0,150,136,1) 35%, rgba(178,223,219,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#009688",endColorstr="#b2dfdb",GradientType=1);
}

@mixin home-section-2-bg {
  background: rgb(255,255,255);
  background: -moz-linear-gradient(90deg, rgba(255,255,255,0.4864320728291317) 0%, rgba(255,255,255,1) 79%, rgba(255,255,255,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(255,255,255,0.4864320728291317) 0%, rgba(255,255,255,1) 79%, rgba(255,255,255,1) 100%);
  background: linear-gradient(90deg, rgba(255,255,255,0.4864320728291317) 0%, rgba(255,255,255,1) 79%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
}

@mixin full-width {
  width: 100%;
}

// Navbar settings
$navbar_top: $teal650;
$navbar_bottom: $teal500;
$navLinkMargin: 10px;

// General
html, body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

.container {
  @include full-width;
}

.row {
  display: block;
}

#rounded-button {
  background: $teal900 !important;
  cursor: pointer;

  .MuiFab-label {
    color: $white !important;

    svg {
      font-size: 1.4em;
    }
  }
}

// Components
.navbar-wrapper {
  @include full-width;

  .top-navbar {
    @include full-width;
    height: 24px;
    background: $navbar_top;
  }

  .navbar {
    @include full-width;
    min-height: 56px;
    background: $navbar_bottom;
    display: flex;
    justify-content: center;
    @media screen and (min-width: 600px) {
      min-height: 64px;
    }
    
    .wrapper {
      width: 95%;
      display: flex;
      align-items: center;

      .menu-icon {
        margin-right: 15px;

        button {
          color: $white;
        }

        .menu-core-icon {
          font-size: 3em;
        }
      }
  
      .logo {
        width: 50px;
        height: 40px;
  
        img {
          @include full-width;
          height: 100%;
        }
      }
  
      .links {
        display: flex;
        justify-content: flex-end;
        @include full-width;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-end: 0px;
        padding-inline-start: 0px;
        list-style-type: none;
  
        .link {
          margin-left: $navLinkMargin;
  
          :first-child {
            margin-left: 0;
          }
  
          a {
            color: $white;
            text-decoration: none;

            svg {
              font-size: 2.2em;
            }
          }
        }
      }
    }
  }
}

.home-section-1 {
  @include full-width;
  height: auto;
  @include home-section-1-bg;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 20px;

  @media screen and (max-width: 970px) {
    padding-bottom: 80px;
  }

  @media screen and (max-width: 650px) {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
  }

  .form {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    margin-bottom: 20px;

    h2 {
      color: $white;
      font-size: 2.4em;
      margin-block-end: 10px;
    }

    .sub-title {
      color: $white;
    }

    input {
      width: 200px;
    }

    button {
      width: 200px;
    }

    .input-field {
      color: $white;
      margin-bottom: 25px;

      .MuiInput-underline:before {
        border-bottom: 1px solid $white;
        
        .MuiInputBase-input::placeholder {
          color: $white;
        }

        :-ms-input-placeholder {
          /* Internet Explorer 10-11 */
          color: $white;
         }
         
         ::-ms-input-placeholder {
          /* Microsoft Edge */
          color: $white;
         }
      }
    }
  }

  .flat-design-image {
    height: auto;
    width: 800px;
    @media screen and (max-width: 650px) {
      @include full-width;
    }

    img {
      @include full-width;
      height: 100%;
    }
  }
}

.home-section-2 {
  @include full-width;
  height: auto;
  display: flex;
  justify-content: center;
  margin: 60px 0;

  .content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    @media screen and (max-width: 820px) {
      display: flex;
      flex-direction: column;
    }

    .image {
      padding-top: 15px;

      .row {
        &:nth-child(1), &:nth-child(3) {
          padding-left: 20px;
        }

        svg {
          font-size: 3em;
          margin-right: 25px;
          margin-bottom: 13px;

          @media screen and (max-width: 910px) {
            font-size: 2em;
          }

          @media screen and (max-width: 820px) {
            font-size: 3em;
          }

          @media screen and (max-width: 390px) {
            font-size: 2em;
          }
        }
      }
    }

    .text {
      margin-left: 5%;
      width: 430px;
      @media screen and (max-width: 820px) {
        margin-top: 40px;
      }

      @media screen and (max-width: 450px) {
        @include full-width;
      }

      h3, p {
        margin-block-start: 0;
        margin-block-end: 0;
      }

      span {
        color: $teal900;
        font-weight: bold;
      }

      h3 {
        color: $grey900;
        margin-top: 5px;
        margin-bottom: 10px;
        font-size: 2em;
        line-height: 27px;
      }

      p {
        font-size: 1.3em;
      }

      a {
        button {
          width: 95%;
          margin-top: 15px;
        }
      }
    }
  }
}

.home-section-3 {
  .background-image-container {
    img {
      @include full-width;
      height: 100%;
    }
  }
}

.home-section-4 {
  @include full-width;
  height: auto;
  display: flex;
  justify-content: center;
  margin: 60px 0;

  .content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    @media screen and (max-width: 820px) {
      display: flex;
      flex-direction: column;
    }

    .image {
      svg {
        font-size: 12em;
      }
    }

    .text {
      margin-left: 5%;
      width: 430px;
      @media screen and (max-width: 820px) {
        margin-top: 40px;
      }

      @media screen and (max-width: 450px) {
        @include full-width;
      }

      h3, p {
        margin-block-start: 0;
        margin-block-end: 0;
      }

      span {
        color: $teal900;
        font-weight: bold;
      }

      h3 {
        color: $grey900;
        margin-top: 5px;
        margin-bottom: 10px;
        font-size: 2em;
        line-height: 27px;
      }

      p {
        font-size: 1.3em;
      }

      a {
        button {
          width: 95%;
          margin-top: 15px;
        }
      }
    }
  }
}

.footer-section-1 {
  @include full-width;
  display: flex;
  justify-content: space-around;
  padding-top: 50px;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;

    .label {
      color: $teal900;
      font-weight: bold;
    }
  
    .icons {
      @include full-width;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 10px;
  
      a {
        svg {
          color: $black16;
        }
  
        &:nth-child(1) {
          svg {
            font-size: 2.5em;
          }
        }
  
        &:nth-child(2) {
          svg {
            font-size: 3em;
          }
        }
      }
    }
  }
}

.footer-section-2 {
  @include full-width;
  display: flex;
  justify-content: space-around;
  margin: 40px 0;

  .list {
    display: flex;
    flex-direction: column;

    a {
      color: $teal900;
      font-size: 1.5em;
      margin-bottom: 10px;
    }
  }
}

.footer-section-3 {
  @include full-width;
  background: $teal900;
  color: $white;
  padding: 8px 0 8px 10px;
  text-align: center;
}